@import '../../styles/_bootstrap-config.scss';

.surah-info{
  //height: 50vh;
  height: 0;

  :global(.row){
    height: 100%;
    background: red;
  }

  .bg{
    height: 100%;
    background-size: cover !important;
  }

  .list{
    background: lighten($text-muted, 10%);
    height: 100%;
  }

  .info{
    height: 100%;
    overflow-y:auto;
    padding-top: 15px;
    padding-bottom: 15px;
    @extend .time-new;
    font-family: 'Times New Roman', sans-serif;
    font-size: 16px;
    background: lighten($text-muted, 15%);

    h2{
      font-size: 18px;
      @extend .time-new;
      font-family: 'Times New Roman', sans-serif;
    }

    p{
      @extend .time-new;
      font-family: 'Times New Roman', sans-serif;
    }
  }

  dl{
    padding-top: 15px;

    dt{
      font-size: 10px;
      font-weight: 500;
      padding-top: 25px;
      padding-bottom: 5px;
    }

    dd{
      color: $brand-primary;
      font-weight: 300;
    }
  }
}
