@import '../../styles/_bootstrap-config.scss';
$transition-speed: 0.75s;

.container{
  overflow-y: auto;
  margin-bottom: 30px;
  height: 0px;
  max-height: 0px;
  min-height: 0px;
  transition: max-height $transition-speed, height $transition-speed;

  &.show{
    max-height: 600px;
    max-height: 70vh;
    height: 1000px;
  }

  .row{
    height: 100%;
  }

  .bg{
    height: 100%;
    background-size: cover !important;
  }

  .list{
    background: lighten($text-muted, 10%);
    height: 100%;
  }

  @media(max-width: $screen-sm){
    .list, .bg{
      height: 30%;
    }
  }


  .info{
    height: 100%;
    overflow-y: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    background: lighten($text-muted, 15%);

    h2{
      font-size: 22px;
      font-family: $font-montserrat;
      font-weight: bold;
    }

    h3{
      font-size: 20px;
      font-family: $font-montserrat;
      font-weight: bold;
  }

    p{
      font-size: 16px;
    }
  }

  dl{
    padding-top: 8px;
    text-align: right;

    dt{
      font-size: 10px;
      font-weight: 500;
      padding-top: 25px;
      padding-bottom: 5px;
    }

    dd{
      color: $brand-primary;
      font-weight: 300;
    }
  }

  .close{
    position: absolute;
    right: 15px;
    top: 15px;
    background: lighten($text-muted, 10%);
    height: 26px;
    width: 26px;
    padding: 7px 8px;
    font-size: 10px;
    border-radius: 16px;
    color: #fff;
    z-index: 20;
    cursor: pointer;

    &:hover{
      opacity: 0.8;
    }
  }
}
