$track-tracker-border-radius: 10px;
$track-bg: $brand-primary;
$tracker-width: 4px;
$tracker-height: 4px;
$tracker-height-hundred-boolean: false;
@if $tracker-height-hundred-boolean {$tracker-height: 100%;}

.audioplayer{
  position:relative;
  display: block;
  user-select: none;
  height: 100%;
  padding: 0px;
  a[btn-checkbox]{
    &.active{
      opacity: 0.5;
    }
  }
}
.verses-dropdown{
  max-height: 500px;
  overflow-y:auto;
  padding-top:15px;
}
.audioplayer-options{
  border-radius: 4px;
  width: 100%;
  display: inline-block;
  margin: 0px;
  height: 90%;
  text-align: center;
  & > li{
    width: 22%;
    height: 100%;
    vertical-align: top;
    padding: 0% 1.5%;
    a{
      top: 50%;
      position: relative;
      transform: translateY(-50%);
      display: block;
    }
  }
  .audioplayer-controls{
    text-align: center;
    .buttons{
      cursor: pointer;
      padding-right: 1.5%;
      color: $olive;
      outline: none;
      &.playing{
        color: $brand-primary;
      }
      i.fa{
        color: inherit;
        font-size: 100%;
      }
    }
  }
  .audioplayer-repeat{
    input[type=checkbox]{
      display: none;
    }
  }
}
.verses{
  padding-left: 0px;
  list-style: none;
  height: 100%;
  text-align: center;
  li{
    height: 50%;
    line-height: initial;
    &.verses-title{
      font-size: 10px;
    }
  }
}
.audioplayer-wrapper{
  width: 100%;
  position: absolute;
  top: 90%;
  left: 0px;
  height: 10%;
  transition: all 0.5s;
  &:hover{
    height: 20%;
    top: 80%;
  }
}
.audioplayer-track{
  background: $track-bg;
  // background: linear-gradient(to right, blue 0%,red 60%,yellow 100%);
  display: block;
  height: 100%;
  width: 100%;
  user-select: none;
  cursor: pointer;
}
.audioplayer-tracker{
  height: 100%;  // This is optional if you'd like your tracker to fit nicely within the track. We don't right now.
  width: $tracker-width;
  background-color: darken($brand-primary, 20%);
  display: inline-block;
  position: absolute;
  user-select: none;
  top: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%) scale(1.2);
  transition: transform 0.1s cubic-bezier(0,1.15,.76,3.0); // This is if your tracker is a circle and you want that bounce effect.
  &:hover{
    @extend .cursor-grab;
  }
  &.active{
    transform:  translate(-50%, -50%);
    box-shadow: 0px 1px 1px 1px rgba(5,5,5,0);
    @extend .cursor-grabbing;
  }
  // bottom: 0;
}

label[for=repeat]{
  color: $olive;
  margin-bottom: 0px !important;
  &:hover{
    cursor: pointer;
  }
  &.repeat{
    color: $brand-primary;
  }
}

.cursor-grab{
    cursor: -webkit-grab; cursor: -moz-grab;
}
.cursor-grabbing{
    cursor: -webkit-grabbing; cursor: -moz-grabbing;
}

// Remember to include browser prefixes when copying this CSS to modify for your own Sequence theme

@keyframes seq-preloader {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.seq-preloader {
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.seq-preloader.seq-preloaded {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .5s, opacity .5s;
}

.seq-preload-indicator {
  overflow: visible;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

.seq-preload-circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  fill: $olive;
  opacity: 0;
  animation: seq-preloader 1.25s infinite;
}

.seq-preload-circle-2 {
  animation-delay: .15s;
}

.seq-preload-circle-3 {
  animation-delay: .3s;
}

.seq-preload-indicator-fallback {
  width: 42px;
  overflow: visible;
}

.seq-preload-indicator-fallback .seq-preload-circle {
  width: 8px;
  height:8px;
  background-color: $olive;
  border-radius: 100%;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
}

.seq-preload-indicator-fallback .seq-preload-circle-2 {
  margin-left: 3px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
}

.seq-preload-indicator-fallback .seq-preload-circle-3 {
  width: 16px;
  height: 16px;
}
