$content-padding: 10px 15px 5px 15px !important;
$label-padding: 5px 20px;
nav.navbar{
  background-color: $beige;
  width: 100%;
  right: 0px;
  left: inherit;
  transition: top 0.5s;

  &.navbar-fixed-top{
    border: none;
  }

  a:hover{
    text-decoration: none;
  }

  & + div{
    padding-top: 190px;

    @media(max-width: $screen-xs-max) {
      padding-top: 100px;
    }
  }

  &.scroll-up{
    top: (-$navbar-scroll-up-height);
  }
}

.navbar-header{
  float: none;
}

.navbar-bottom{
  box-shadow: inset 0 7px 9px -10px rgba(0, 0, 0, 0.4);
  background-color: $cream;
  margin-left: -30px;
  margin-right: -30px;

  @media(max-width: $screen-xs-max) {
    min-height: $navbar-height * 0.3571;
    height: auto;
  }

  @media(max-width: $screen-sm-max) {
    min-height: $navbar-height * 0.3571;
    height: auto;
  }

  .border-right{
    border-right: 1px solid rgba(lighten($cream, 20%), 0.5);
  }
  .btn-link{
    height: 40px;
  }
  .nav-link {
    color: $olive;
    width: 100%;
    display: block;
    text-decoration: none;
    line-height: $navbar-height * 0.3571;
    outline: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.toggle-icon{
      font-size: 20px;
      line-height: 100%;
      margin-top: 16px;

      .ss-info{
        font-size: 24px;
      }
    }
    &.active{
      color: $brand-primary;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .navbar-bottom.mobile{
    z-index: 999999;
    .full-height{
      height: 45px;
      a{
        display: block;
      }
    }
    .row{
      height: 45px;
      &.dark-bg{
        background: darken($brand-primary, 10%);
        box-shadow: inset 0 7px 9px -10px rgba(0,0,0,0.4);
        color: #fff;
      }
    }
  }
  .toggle-options{
    height: 100%;
    &.active{
      background: darken($brand-primary, 15%);
    }

    a{
      height: 100%;
      padding: 10px 0px;
      display: block;
      color: #fff;

      .ss-search{
        font-size: 18px;
      }
    }
    & + &{
      border-left: 1px solid rgba(#fff, 0.25);
    }
  }
  .surahs-nav{
    position: relative !important;
    ul{
      height: 150px !important;
      list-style: none;
      & > li{
        padding: 10px 15px !important;
      }
    }
  }

  .options{
    .col-xs-10{
      padding: 0px;
    }
    ul{
      padding: 0px;
      width: 100%;
      text-align: center;
      height: 100%;
      margin: 0px;
      li{
        width: 25%;
        padding: 0 1.5%;
        height: 100%;
        vertical-align: top;
        display: inline-block;
        background: $cream;
        color: darken($cream, 20%);
        a{
          height: 100%;
          display: block;
          line-height: 45px;
          color: $olive;
        }
      }
    }
  }

  .navbar-toggle{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .navbar{
    min-height: initial;
  }
}

@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

.optionSelected{
  background-color: $light-green;
  color: white !important;
}

.last-chapter {
  pointer-events: none;
  cursor: default;
  color: #939598;
  font-size: 12px;
}

.last-chapter .ss-icon {
  display: none;
}

.first-chapter {
  pointer-events: none;
  cursor: default;
  color: #939598;
  font-size: 12px;
}

.first-chapter .ss-icon {
  display: none;
}
