$content-padding: 10px 15px 5px 15px !important;
$label-padding: 5px 20px;
nav.navbar.surah {
  background-color: $beige;
  width: 100%;
  right: 0;
  left: inherit;
  transition: top 0.5s;

  &.navbar-fixed-top {
    border: none;
  }

  a:hover {
    text-decoration: none;
  }

  &.scroll-up {
    top: (-$navbar-scroll-up-height);
  }
}

.navbar-header {
  float: none;
}

@media (max-width: $screen-sm-max) {
  .toggle-options {
    height: 100%;
    &.active {
      background: darken($brand-primary, 15%);
    }

    a {
      height: 100%;
      padding: 10px 0;
      display: block;
      color: #fff;

      .ss-search {
        font-size: 18px;
      }
    }
    & + & {
      border-left: 1px solid rgba(#fff, 0.25);
    }
  }

  .options {
    .col-xs-10 {
      padding: 0;
    }
    ul {
      padding: 0;
      width: 100%;
      text-align: center;
      height: 100%;
      margin: 0;
      li {
        width: 25%;
        padding: 0 1.5%;
        height: 100%;
        vertical-align: top;
        display: inline-block;
        background: $cream;
        color: darken($cream, 20%);
        a {
          height: 100%;
          display: block;
          line-height: 45px;
          color: $olive;
        }
      }
    }
  }

  .navbar {
    min-height: initial;
  }
}

@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}
