.surahs-nav{
  background: $brand-primary-darker-5;
  padding: 0px;
  position: fixed;
  z-index: 9999;

  ul::-webkit-scrollbar{
      display: none;
      width: 6px;
      background-color: $brand-primary;
  }
  ul{
    padding-left: 0px;
    height: calc(100vh - 190px);
    overflow-y: scroll;
    li{
      padding: 0px 15px 20px;
      a{
        color: rgba(#fff, 0.50);
        &:hover{
          color: #fff !important;
          span{
            color: #fff !important;
          }
        }

        .surah-num{
          color: rgba(darken($brand-primary, 35%), 0.8);
        }
        .surah-name{
          font-weight: 500;
        }
        .surah-meaning{
          font-weight: 300;
          font-size: 10px;
          text-transform: uppercase;
        }
      }
    }
    .selected{
      background-color: darken($brand-primary, 22.5%);
      color: #fff;
    }
  }
}
