@import '../../styles/variables.scss';

$timing: 1s;
$size: 4px;
$border-size: $size * 1.25;

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 30px auto;
  font-size: $size;
  position: relative;
  text-indent: -9999em;
  border-top: $border-size solid $brand-primary;
  border-right: $border-size solid $brand-primary;
  border-bottom: $border-size solid $brand-primary;
  border-left: $border-size solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load $timing infinite linear;
  animation: load $timing infinite linear;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
