@import '../../../styles/variables.scss';

.item {
  color: $brand-primary;

  &:hover {
    background: #f1f1f1;
  }

  .link {
    display: block;
    padding: 10px 10px;
  }

  .english {
    font-size: 10px;
  }
  .arabic {
    font-size: 14px;
  }
}
