@import '../../styles/variables.scss';

$width: 280px;

.container{
  position: fixed;
  left: $width * -1;
  top: 0px;
  bottom: 0px;
  background: #fff;
  z-index: 1031;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
  visibility: hidden;

  background: #fff;
  width: $width;
  transition: left 0.35s cubic-bezier(0.24,1,0.32,1), visibility 0.2s;

  &.open{
    left: 0px;
    visibility: visible;;
  }

  :global(.navbar-text){
    margin-left: 0px;
      .backToHome {
          margin-right: 23px;
          font-size: 17px;
      }
  }

  @media(max-width: $screen-sm) {
    width: $width;
    left: -1 * $width;

    &.open{
      left: 0px;
    }

    :global(.navbar-text){
      padding-left: 15px;
    }
  }
}

.list{
  padding-left: 0px;

  :global(li){
    color: #777;

    :global(a){
      color: #777;
      padding: 10px 15px;
      display: block;

      :global(.ss-icon){
        font-size: 18px;
        margin-right: 20px;
      }

      &:hover{
        background: #f5f5f5;
        color: #333;
      }
    }
  }
}