@import '../bootstrap.scss';
@import "Slider";

$content-padding: 15px 15px !important;
$label-padding: 5px 20px;
nav{
  background-color: $beige;

  &.navbar-fixed-top{
    border: none;
  }
}
.navbar{
  .ornament{
    opacity: 0.20;
  }
}

// Everything to do with the brand
.navbar-brand {
  background: url('/images/index-bg.jpg') center center no-repeat;
  background-size: cover;
  padding: $content-padding;
  position: relative;
  text-align: center;
  margin-left: 0px !important;
  .title{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    color: #fff;
    opacity: 0.5;
  }
  img {
    display: inline !important;
    height: 100%;
    &.logo{
      height: 80%;
      vertical-align: top;
    }
  }
}
// The middle section of the navbar
.surah-title {
  padding: $content-padding;
  height: $navbar-height;
  .navbar-text{
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
    float: none;
    margin-left: -15px;
    margin-right: -15px;
  }
  img {
    height: 100%;

    &.title{
      display: block;
      margin: auto;
      height: 200px;
      margin-top: -70px;
      margin-bottom: -70px;
    }
  }
}

.navbar-bottom{
  height: $navbar-height * 0.3571; // 0.3571 the proportion in the design between navs

  @media(max-width: $screen-xs-max) {
    min-height: $navbar-height * 0.3571;
    height: auto;
  }

  input[type=range]{
    height: 100%;
  }
  .search-input{
    background: $brand-primary-darker-10;
    height: 100%;
    border: 1px solid $brand-primary-darker-10;
    box-shadow: inset 0 7px 9px -10px rgba(0,0,0,0.4);
    color: #fff;
  }
  .search-input::-webkit-input-placeholder { /* WebKit browsers */
      color: $brand-primary;
  }
  .search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $brand-primary;
  }
  .search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $brand-primary;
  }
  .search-input:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $brand-primary;
  }
  .options{
    background: $cream;
    height: 100%;
    box-shadow: inset 0 7px 9px -10px rgba(0,0,0,0.4);
    color: darken($cream, 20%);
    &.click-options{
      i{
        margin-right: 0px;
      }
    }
    a{
      color: darken($cream, 20%);
    }
    
    .row{
      height: 100%;
    }
    .col-md-2,
    .col-md-5{
      height: 100%;
      & + .col-md-2{
        border-left: 1px solid lighten($cream, 20%);
      }
      .dropdown-toggle,
      .nav-link{
        width: 100%;
        display: block;
        text-decoration: none;
        line-height: $navbar-height * 0.3571;
        outline: none;
        &.selected{
          i{
            color: $brand-primary;
          }
        }
        i{
          margin-right: 15px;
          &.pull-right{
            line-height: $navbar-height * 0.3571;
          }
        }
      }
      .dropdown-content{
        width: 100%;
      }
    }
  }
}

.navbar-nav{
  @media (max-width: $screen-xs-max) {
    padding: 0px 10px;
    a{
      padding: 5px 0px;
    }
  }
    li{
        padding-top: 40px !important;
        @media (max-width: $screen-xs-max) {
          padding-top: 10px !important;
        }
        .list-inline{
          li{
            padding-top: 0px !important;
          }
        }
        a{
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }
        i{
          font-size: 150%;
        }
        b{
          line-height: 150%;
        }
    }
    .dropdown-menu{
        li{
            padding: 5px 0px !important;
        }
        label{
          display: block;
          padding: 0px 20px;
          clear: both;
          font-weight: normal;
          line-height: 1.428571429;
          color: #333333;
          white-space: nowrap;
          margin-bottom: 0px;
          cursor: pointer;
        }

    }
}

@media (max-width: $screen-xs-max) {
  .navbar{
    min-height: 100px;
  }
  .navbar-brand{
    height: 50px;
    padding: 10px 5px !important;
    text-align: center;
    background: $brand-primary !important;
    .menu{
      font-size: 12px;
      color: #fff;
      &.visible-xs{
        display: inline !important;
      }
    }
    .logo{
      height: 100%;
    }
    .title{
      position: static;
      font-size: 12px;
      margin: 0px 10%
    }
    .ornament{
      display: none !important;
      img{

      }
    }
  }

  .surah-title{
    padding:0px !important;
    height: 50px;
    h1{
      margin: 0px;
      font-size: 26px;
    }
    p{
      font-size: 10px;
    }
  }
  .navbar-bottom.mobile{
    .full-height{
      height: 45px;
      a{
        display: block;
        @include center-align(v);
      }
    }
    .row{
      height: 45px;
      &.dark-bg{
        background: darken($brand-primary, 10%);
        box-shadow: inset 0 7px 9px -10px rgba(0,0,0,0.4);
        color: #fff;
      }
    }
  }
  .toggle-options{
    @include center-align(v);
  }
  .left-nav{
    position: relative !important;
    ul{
      height: 150px !important;
      list-style: none;
      & > li{
        padding: 10px 15px !important;
      }
    }
  }
  i.fa-2x{
    font-size: 1.5em;
  }
  .options{
    .col-xs-10{
      padding: 0px;
    }
    ul{
      padding: 0px;
      width: 100%;
      text-align: center;
      height: 100%;
      margin: 0px;
      li{
        width: 22%;
        padding: 0 1.5%;
        height: 100%;
        vertical-align: top;
        display: inline-block;
        @include center-align(v);
        background: $cream;
        color: darken($cream, 20%);
        a{
          height: 100%;
          display: block;
          line-height: 45px;
        }
      }
    }

    i.fa-play,
    i.fa-pause{
      font-size: 1.15em;
    }
  }

  .dropdownChange{
    background: $olive;
    color: $cream;
    a{
      color: $cream;
    }
  }
  .dropdown-menu{
    width: 100%;
    &.audio{
      padding-top: 25px;
    }

    &.dropdown-content{
      .languages{
        padding: 15px 0px;
      }
    }
  }

  .navbar-bottom input[type=range]{
    width: 200px ;
    &:after{
      border-left: 200px solid transparent;
    }
  }

  audioplayer{
    padding: 0px;
    audioplayer-wrapper{
      margin-left: 0px;
    }
  }
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
    }
}

.optionSelected{
    background-color: $light-green;
    color: white !important;
}
