$thumb-color: $beige;
$thumb-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
$track-color: #ddd;
$track-color-focus: darken($track-color, 5%);
$slider-width: 80px;

.input-range-container{
    height: 100%;
    span{
        top: 45%;
        position: relative;
        display: inline-block;
        transform: translateY(-50%);
        height: 100%;
        vertical-align: middle;
    }
    span.size2{
        font-size: 150%;
        top: 30%;
        margin-left: 5px;
    }
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    position: relative;
    background: transparent;
    display: inline;
    width: $slider-width;
    &:after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: $slider-width solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 8px solid darken($cream, 20%);
        z-index: 98;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
    }
}
input[type=range]::-webkit-slider-runnable-track {
    width: $slider-width;
    height: 5px;
    background: transparent;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $thumb-color;
    box-shadow: $thumb-box-shadow;
    margin-top: -5px;
    position: relative;
    z-index: 99;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
}

input[type=range]::-moz-range-track {
    width: $slider-width;
    height: 5px;
    background: transparent;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $thumb-color;
    box-shadow: $thumb-box-shadow;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: $slider-width;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: transparent;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $thumb-color;
    box-shadow: $thumb-box-shadow;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: transparent;
}