{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-react-display-name",
    "typecheck"
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
