{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 1,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "property": 0,
    "no-mixed-operators": 0,
    "strict": 0
  },
  "ecmaFeatures": {
    "classes": true,
    "jsx": true
  },
  "plugins": ["react", "jest"],
  "settings": {
    "import/resolver": "webpack"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true,
    "ga": true,
    "Raven": true,
    "mixpanel": true,
    "expect": true,
    "browser": true,
    "import": true,
    "FB": true,
    "window": true,
    "sinon": true,
    "fetch": true
  },
  "env": {
    "mocha": true,
    "amd": true,
    "jest/globals": true
  }
}
