.idea/
build/
node_modules/
dist/
coverage/
test-results.xml
*.iml
npm-debug.log
webpack-assets.json
webpack-stats.json
bundle-stats.json
selenium-debug.log
tests/functional/output/*
test/functional/screenshots/*
.ssh
webpack-stats.debug.json
phantomjsdriver.log
stats.json
