@import '../../styles/variables';

.shareContainer {
  position: relative;
  top: 7px;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  .iconContainer {
    padding: 0 5px;
  }

  .facebook {
    background-image: url(../../../static/images/FB-grn.png);
    background-repeat: no-repeat;

    background-size: 12px;
    padding-top: 1px;

    &:hover {
      background-image: url(../../../static/images/FB-beige.png);
    }
  }

  .twitter {
    background-image: url(../../../static/images/Twitter-grn.png);
    background-repeat: no-repeat;
    background-size: 21px;

    &:hover {
      background-image: url(../../../static/images/Twitter-beige.png);
    }
  }

}
