@import '../../styles/variables';

.shareContainer {
  position: relative;
  left: 5px;
  top: 2px;

  .iconContainer {
    padding: 0 30px 10px 0;
  }

  .facebook {
    background-image: url(../../../static/images/FB-grn.png);
    background-repeat: no-repeat;

    background-size: 12px;
    padding-top: 1px;

    &:hover {
      background-image: url(../../../static/images/FB-beige.png);
    }
  }

  .twitter {
    background-image: url(../../../static/images/app-banner-android.png);
    background-repeat: no-repeat;
    background-size: 21px;

    &:hover {
      background-image: url(../../../static/images/Twitter-beige.png);
    }
  }

}
