@import '../../styles/variables.scss';

.dropdown {
  padding: 5px 0;

  &.open{
    :global(.dropdown-icon.ss-icon:before){
      content:"▴";
    }
  }

  & > button {
    width: 100%;
    text-align: left;
  }

  :global(.caret) {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -1px;
  }
}

.rightborder {
  border-right: 1px solid rgba(173, 170, 156, 0.5);
}

.surah-container {
  padding-top: 70px;
  min-height: 80vh;

  @media(max-width: $screen-xs-max) {
    padding-top: 70px;
  }
}
