@import '../../styles/variables.scss';

.dropdown {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
  border-radius: 0px;
  border: none;
  font-weight: 300;

  &.open{
    :global(.dropdown-icon.ss-icon:before){
      content:"▴";
    }
  }

  :global(.caret) {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -1px;
  }
}

.rightborder {
  border-right: 1px solid rgba(173, 170, 156, 0.5);
}

.container {
  padding-top: 70px;
  min-height: 100vh;

  @media(max-width: $screen-xs-max) {
    padding-top: 70px;
  }
}

.sidebarItem{
  padding: 10px 12px;
  color: #333;
  font-weight: 300;

  :global(.switch){
    float: right;
  }
  :global(a){
    color: #333;
  }
}
