@import '../../styles/variables.scss';

.container{
  padding: 2.5% 0%;
  border-bottom: 1px solid rgba($text-muted, 0.5);

  .text-info{
    color: $brand-info;
    &:hover{
      color: $brand-primary;
    }
  }

  &:hover{
    // background-color: rgba($brand-info, 0.25);
    .toggle-copy{
      visibility: visible;
    }
  }

  .toggle-copy{
    visibility: hidden;
  }

  .translation{
    &.arabic{
      text-align: right;
    }

    h4{
      color: $light-green;
      margin-bottom: 5px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;

      @media(max-width: $screen-sm-max) {
        font-size: 12px;
      }
    }

    h2{
      margin-top: 5px;
      margin-bottom: 25px;
    }
  }

  .controls{
    a{
      margin-bottom: 15px;
      display: block;
      text-decoration: none;
      font-size: 12px;

      &:hover{
        cursor: pointer;
      }
    }
    .label{
      padding: .65em 1.1em;
      border-radius: 0px;
      display: inline-block;
      margin-bottom: 15px;
      color: darken($text-muted, 30%);
      font-weight: 300;

      &:hover{
        opacity: 0.7;
      }
    }

    @media (max-width: $screen-xs-max) {
      h4,
      a{
        display: inline-block;
        margin: 0px 10px;
      }
    }
  }
}

.font{
  white-space: pre-line;
  color: #000;
  width: 100%;
  overflow-wrap: break-word;
  line-height: 150%;
  word-break: break-all;
  text-align: right;
  float: left;

  b{
    float: right;
    border-color: transparent;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    &.active {
      color: $brand-primary-darker-5;
      border-color: $brand-primary-darker-15;
    }
  }

  .line{
    b{
      float: none;
      display: inline;
    }
  }

  b, a{
    font-weight: 100;
    margin: 0px 2px;
    white-space: pre;
    color: #000;
    &:hover{
      color: $brand-primary;
      cursor: pointer;
    }
    &:focus{
      color: $brand-primary-darker-10;
      outline: none;
    }
  }

  @media (max-width: $screen-xs-max) {
    font-size: 300%;
    line-height: 130%;
  }
}

.translation{
  h4{
    color: $light-green;
    margin-bottom: 5px;
  }
  h2{
    margin-top: 5px;
    margin-bottom: 25px;
  }
}

.word_font{
  line-height: 150%;
}

.line{
  line-height: 150%;
  display: block;
  width: 100%;
  margin: 0px auto;
}
