@import '../../styles/variables';
@import '../../styles/partials/_tooltip';
.container {
  padding: 2.5% 0;
  border-bottom: 1px solid rgba($text-muted, 0.5);
  .text-info {
    color: $brand-info;
    &:hover {
      color: $brand-primary;
    }
  }
  &:hover {
    // background-color: rgba($brand-info, 0.25);
    .toggle-copy {
      visibility: visible;
    }
  }
  .toggle-copy {
    visibility: hidden;
  }
  .controls {
    a {
      margin-bottom: 15px;
      display: block;
      text-decoration: none;
      font-size: 12px;
      cursor: pointer;
      &:focus {
        color: $text-muted;
      }
    }
    @media (max-width: $screen-xs-max) {
      h4,
      a {
        display: inline-block;
        margin: 0 10;
      }
      h4 {
        margin: 0;
      }
      padding: 0;
    }
  }
}

.font {
  white-space: pre-line;
  color: #000;
  width: 100%;
  overflow-wrap: break-word;
  line-height: 1.5;
  word-break: break-all;
  text-align: right;
  float: left;
  b,
  span {
    border-color: transparent;
    border-width: 0 0 1px 0;
    border-style: solid;
    float: right;
    &.active {
      color: $brand-primary-darker-5;
      border-color: $brand-primary-darker-15;
    }
  }
  .line {
    direction: rtl;
    b,
    span {
      float: none;
      display: inline-block;
    }
  }
  b,
  a {
    font-weight: 100;
    padding: 0 2px;
    color: #000;
    &:hover {
      color: $brand-primary;
      cursor: help;
    }
    &:focus {
      color: $brand-primary-darker-10;
      outline: none;
    }
  }
  p {
    display: block;
    clear: both;
    text-align: right;
    direction: rtl;
    float: right;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 300%;
    line-height: 130%;
  }
}
