@import '../../../theme/variables';

.primaryNav{
  background: $beige;
  box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.75);
}
.chapter{
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.15;
  transition: opacity 0.5s, color 0.5s;
  color: #000;

  &:hover{
    opacity: 1;
    text-decoration: none;
    color: $text-color;
  }

  i {
    font-size: 20px;
    display: inline-block;
    transform: translateY(17%);
  }
}

:local .bottomNav{
  :global(.navbar-nav) {
    padding-top: 2px;
  }

  :global(.bordered) {
    border-right: 1px solid $beige;
  }
}

:local .title{
  :global(img){
    height: 50px;
    display: block;
    margin: 0 auto;
    transform: scale(2.5);
  }
  :global(span){
    text-transform: uppercase;
    color: $olive;
    font-size: 0.95em;
  }
}

.ornament{
  height: 80px;
  opacity: 0.15;

  @media(max-width: $navbar-collapse-width) {
    height: 50px;
  }
}
