nav{
  a.dropdown-toggle{
    @extend .nav-link;

    &.selected{
      i{
        color: $brand-primary;
      }
    }
    i{
      margin-right: 15px;
      &.pull-right{
        line-height: $navbar-height * 0.3571;
      }
    }
  }
}

// Dropdown icon
.options .dropdown{
  height: 100%;

  .dropdown-icon.ss-icon:before{
    content:"▾";
  }



  @media (max-width: $screen-xs-max) {
    background: $olive;
    color: $cream;
    a{
      color: $cream;
    }
  }
}

// When dropdown is open!
.dropdown.open{
  background-color: $olive;

  .dropdown-icon.ss-icon:before{
    content:"▴";
  }

  a.dropdown-toggle{
    color: $beige !important;
  }
}

.dropdown-menu{
  margin-top: 0px;
  border-radius: 0px;
  border-color: $dropdown-bg;
  @extend .montserrat;
  min-width: 100%;

  width: auto;
  &.audio{
    padding-top: 25px;
  }

  &.dropdown-content{
    .languages{
      padding: 15px 0px;
    }
  }

  & > li > label,
  & > li > a {
    display: block;
    padding: $label-padding;
    clear: both;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.428571429;
    white-space: nowrap;
    margin-bottom: 0px;
    color: $beige;
  }
}
