// Dropdown icon
.options .dropdown {
  height: 100%;

  .dropdown-icon.ss-icon:before {
    content: '▾';
  }
}

.dropdown-menu {
  margin-top: 0;
  border-radius: 0;
  font-family: 'Montserrat';
  min-width: 100%;

  width: auto;
  &.audio {
    padding-top: 25px;
  }

  &.dropdown-content {
    .languages {
      padding: 15px 0;
    }
  }

  & > li > label,
  & > li > a {
    display: block;
    padding: $label-padding;
    clear: both;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.428571429;
    white-space: nowrap;
    margin-bottom: 0;
  }
}
