.hlt1, .hlt10{
  color: $light-green !important;
}
.hlt2, .hlt9{
  color: #f1c40f !important;
}
.hlt3{
  color: $peach !important;
}
.hlt4{
  color: #C50F90 !important;
}
.hlt5{
  color: #e67e22 !important;
}
.hlt6{
  color: #f39c12 !important;
}
.hlt7{
  color: #1abc9c !important;
}
.hlt8{
  color: #e61e22 !important;
}
