.hlt1, .hlt10{
  color: $light-green;
}
.hlt2, .hlt9{
  color: #f1c40f;
}
.hlt3{
  color: $peach;
}
.hlt4{
  color: $olive;
}
.hlt5{
  color: #e67e22;
}
.hlt6{
  color: #f39c12;
}
.hlt7{
  color: #1abc9c;
}
.hlt8{
  color: #e61e22;
}
