.index-header{
  background: url('/static/images/index-bg.jpg') center center no-repeat;
  background-size: cover;

  .logo{
    padding-top: 3.5%;
    padding-bottom: 10px;
    width: 30%;
  }
  .title{
    color: lighten($brand-primary, 30%);
    font-size: 160%;
    padding-bottom: 3.5%;
  }
}
