.navbar-brand {
  background: url('/static/images/index-bg.jpg') center center no-repeat $brand-primary;
  background-size: cover;
  padding: $content-padding;
  position: relative;
  text-align: center;
  margin-left: 0px !important;
  transition: height 0.5s;

  .title{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    color: #fff;
    opacity: 0.5;
  }
  img {
    display: inline !important;
    height: 100%;
    &.logo{
      height: 80%;
      vertical-align: top;
      transition: height 0.5s;
    }
  }

  @media (min-width: $screen-md-max) {
    .shrink &{
      height: 90px;
      img.logo{
        margin: 0;
        margin-top: -5px;
        height: 79%;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .navbar-brand{
    height: 50px;
    padding: 10px 5px !important;
    text-align: center;
    background: $brand-primary !important;
    .menu{
      font-size: 12px;
      color: #fff;
      &.visible-xs{
        display: inline !important;
      }
    }
    img.logo{
      height: 100%;
    }
    .title{
      position: static;
      font-size: 12px;
      margin: 0px 15%
    }
  }
}
