.navbar-brand {
  background: url('//quran-1f14.kxcdn.com/images/index-bg.jpg') center center no-repeat $brand-primary;
  background-size: cover;
  padding: $content-padding;
  position: relative;
  text-align: center;
  margin-left: 0 !important;
  transition: height 0.5s;

  .title{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    color: #fff;
    opacity: 0.5;
  }
  img {
    display: inline !important;
    &.logo{
      height: 80%;
      vertical-align: top;
      transition: height 0.5s;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .navbar-brand{
    height: 50px;
    padding: 10px 0 10px 5px !important;
    text-align: center;
    background: $brand-primary !important;
    .menu{
      font-size: 12px;
      color: #fff;
      &.visible-xs{
        display: inline !important;
        cursor: pointer;
        padding: 10px 5px;

        &:hover{
          cursor: pointer;
        }
      }
    }

    img.logo{
      height: 100%;
    }
    .title{
      position: static;
      font-size: 12px;
      margin: 0 15%
    }
  }
}
