$padding-between-icon-and-text: 7px;
$transition-timing: 0.5s;

.surah-title {
  padding: $content-padding;
  height: $navbar-scroll-up-height;
  transition: height 0.5s;

  .navbar-text{
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
    float: none;
  }

  img {
    height: 100%;

    &.title{
      display: block;
      margin: auto;
      height: 170px;
      margin-top: -60px;
      margin-bottom: -75px;
    }
    &.ornament{
      opacity: 0.15;
    }
  }

  .previous-chapter,
  .next-chapter{
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.25;
    transition: opacity $transition-timing;
    &:hover{
      opacity: 1;
    }

    i {
      font-size: 20px;
      display: inline-block;
      transform: translateY(17%);
    }
  }
  .previous-chapter{
    i{
      padding-right: $padding-between-icon-and-text;
    }
  }
  .next-chapter{
    i{
      padding-left: $padding-between-icon-and-text;
    }
  }
}
.surah-name{
  font-size: 13px;
  color: $olive;
}



@media (max-width: $screen-sm-max) {
  .surah-title{
    padding:0px !important;
    height: 70px;

    img.title{
      height: 175%;
      margin-top: -35px;
      margin-bottom: -60px;
      transition: transform 0.5s, display 1s 0.5s;
    }
    h1{
      margin: 0px;
      font-size: 26px;
    }
    p{
      font-size: 10px;
    }

    .previous-chapter,
    .next-chapter{
      line-height: 50%;
      height: 100%;
      vertical-align: middle;
      display: inline-block;

      i{
        vertical-align: middle;
        top: 50%;
        position: relative;
        transform: translateY(-50%);
      }
    }
  }
}
