[class^='icon-surah'],
[class*=' icon-surah'] {
  font-family: 'surah_names' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 25px;
  float: right;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-surah59:before {
  content: '\e900';
}
.icon-surah60:before {
  content: '\e901';
}
.icon-surah48:before {
  content: '\e902';
}
.icon-surah:before {
  content: '\e903';
}
.icon-surah1:before {
  content: '\e904';
}
.icon-surah2:before {
  content: '\e905';
}
.icon-surah3:before {
  content: '\e906';
}
.icon-surah4:before {
  content: '\e907';
}
.icon-surah5:before {
  content: '\e908';
}
.icon-surah38:before {
  content: '\e909';
}
.icon-surah39:before {
  content: '\e90a';
}
.icon-surah6:before {
  content: '\e90b';
}
.icon-surah7:before {
  content: '\e90c';
}
.icon-surah8:before {
  content: '\e90d';
}
.icon-surah9:before {
  content: '\e90e';
}
.icon-surah10:before {
  content: '\e90f';
}
.icon-surah11:before {
  content: '\e910';
}
.icon-surah12:before {
  content: '\e911';
}
.icon-surah13:before {
  content: '\e912';
}
.icon-surah14:before {
  content: '\e913';
}
.icon-surah15:before {
  content: '\e914';
}
.icon-surah16:before {
  content: '\e915';
}
.icon-surah17:before {
  content: '\e916';
}
.icon-surah18:before {
  content: '\e917';
}
.icon-surah19:before {
  content: '\e918';
}
.icon-surah20:before {
  content: '\e919';
}
.icon-surah21:before {
  content: '\e91a';
}
.icon-surah22:before {
  content: '\e91b';
}
.icon-surah23:before {
  content: '\e91c';
}
.icon-surah24:before {
  content: '\e91d';
}
.icon-surah25:before {
  content: '\e91e';
}
.icon-surah26:before {
  content: '\e91f';
}
.icon-surah27:before {
  content: '\e920';
}
.icon-surah28:before {
  content: '\e921';
}
.icon-surah29:before {
  content: '\e922';
}
.icon-surah30:before {
  content: '\e923';
}
.icon-surah31:before {
  content: '\e924';
}
.icon-surah32:before {
  content: '\e925';
}
.icon-surah33:before {
  content: '\e926';
}
.icon-surah40:before {
  content: '\e927';
}
.icon-surah41:before {
  content: '\e928';
}
.icon-surah42:before {
  content: '\e929';
}
.icon-surah43:before {
  content: '\e92a';
}
.icon-surah44:before {
  content: '\e92b';
}
.icon-surah45:before {
  content: '\e92c';
}
.icon-surah46:before {
  content: '\e92d';
}
.icon-surah34:before {
  content: '\e92e';
}
.icon-surah35:before {
  content: '\e92f';
}
.icon-surah36:before {
  content: '\e930';
}
.icon-surah37:before {
  content: '\e931';
}
.icon-surah47:before {
  content: '\e932';
}
.icon-surah49:before {
  content: '\e933';
}
.icon-surah50:before {
  content: '\e934';
}
.icon-surah51:before {
  content: '\e935';
}
.icon-surah52:before {
  content: '\e936';
}
.icon-surah53:before {
  content: '\e937';
}
.icon-surah54:before {
  content: '\e938';
}
.icon-surah55:before {
  content: '\e939';
}
.icon-surah56:before {
  content: '\e93a';
}
.icon-surah57:before {
  content: '\e93b';
}
.icon-surah58:before {
  content: '\e93c';
}
.icon-surah79:before {
  content: '\e93d';
}
.icon-surah80:before {
  content: '\e93e';
}
.icon-surah81:before {
  content: '\e93f';
}
.icon-surah82:before {
  content: '\e940';
}
.icon-surah61:before {
  content: '\e941';
}
.icon-surah62:before {
  content: '\e942';
}
.icon-surah63:before {
  content: '\e943';
}
.icon-surah64:before {
  content: '\e944';
}
.icon-surah65:before {
  content: '\e945';
}
.icon-surah66:before {
  content: '\e946';
}
.icon-surah67:before {
  content: '\e947';
}
.icon-surah68:before {
  content: '\e948';
}
.icon-surah69:before {
  content: '\e949';
}
.icon-surah70:before {
  content: '\e94a';
}
.icon-surah71:before {
  content: '\e94b';
}
.icon-surah72:before {
  content: '\e94c';
}
.icon-surah73:before {
  content: '\e94d';
}
.icon-surah74:before {
  content: '\e94e';
}
.icon-surah75:before {
  content: '\e94f';
}
.icon-surah76:before {
  content: '\e950';
}
.icon-surah77:before {
  content: '\e951';
}
.icon-surah78:before {
  content: '\e952';
}
.icon-surah83:before {
  content: '\e953';
}
.icon-surah84:before {
  content: '\e954';
}
.icon-surah85:before {
  content: '\e955';
}
.icon-surah86:before {
  content: '\e956';
}
.icon-surah87:before {
  content: '\e957';
}
.icon-surah88:before {
  content: '\e958';
}
.icon-surah89:before {
  content: '\e959';
}
.icon-surah90:before {
  content: '\e95a';
}
.icon-surah91:before {
  content: '\e95b';
}
.icon-surah92:before {
  content: '\e95c';
}
.icon-surah93:before {
  content: '\e95d';
}
.icon-surah94:before {
  content: '\e95e';
}
.icon-surah95:before {
  content: '\e95f';
}
.icon-surah96:before {
  content: '\e960';
}
.icon-surah97:before {
  content: '\e961';
}
.icon-surah98:before {
  content: '\e962';
}
.icon-surah99:before {
  content: '\e963';
}
.icon-surah100:before {
  content: '\e964';
}
.icon-surah101:before {
  content: '\e965';
}
.icon-surah102:before {
  content: '\e966';
}
.icon-surah103:before {
  content: '\e967';
}
.icon-surah104:before {
  content: '\e968';
}
.icon-surah105:before {
  content: '\e969';
}
.icon-surah106:before {
  content: '\e96a';
}
.icon-surah107:before {
  content: '\e96b';
}
.icon-surah108:before {
  content: '\e96c';
}
.icon-surah109:before {
  content: '\e96d';
}
.icon-surah110:before {
  content: '\e96e';
}
.icon-surah111:before {
  content: '\e96f';
}
.icon-surah112:before {
  content: '\e970';
}
.icon-surah113:before {
  content: '\e971';
}
.icon-surah114:before {
  content: '\e972';
}
