$padding-between-icon-and-text: 7px;
$transition-timing: 0.5s;

.surah-title {
  padding: $content-padding;
  height: $navbar-height;
  .navbar-text{
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
    float: none;
    margin-left: -15px;
    margin-right: -15px;
  }
  img {
    height: 100%;

    &.title{
      display: block;
      margin: auto;
      height: 200px;
      margin-top: -70px;
      margin-bottom: -70px;
    }
    &.ornament{
      opacity: 0.15;
    }
  }

  .previous-chapter,
  .next-chapter{
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.25;
    transition: opacity $transition-timing;
    &:hover{
      opacity: 1;
    }

    i {
      font-size: 20px;
      display: inline-block;
      transform: translateY(17%);
    }
  }
  .previous-chapter{
    i{
      padding-right: $padding-between-icon-and-text;
    }
  }
  .next-chapter{
    i{
      padding-left: $padding-between-icon-and-text;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .surah-title{
    padding:0px !important;
    height: 70px;

    img.title{
      height: 175%;
      margin-top: -35px;
      margin-bottom: -60px;
    }
    h1{
      margin: 0px;
      font-size: 26px;
    }
    p{
      font-size: 10px;
    }
  }
}
