//@import 'bootstrap';
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'mixins/center';
@import 'components/SurahNav';
@import 'components/MasterHeader';
@import 'fonts/fonts';

@import 'partials/navbar-brand';
@import 'partials/search-input';
@import 'partials/surah-title';
@import 'partials/dropdown';
@import 'partials/index-header';
@import 'partials/modal';
@import 'partials/tooltip';
@import 'partials/highlight';


html,body{
  height: 100%;
  min-height: 100%;
  font-size: 14px;

  @media(max-width: $screen-sm-max) {
    font-size: 12px;
  }
}

a:hover{
  text-decoration: none;
}

.surah-body{
  .left-side{
    width: 16.6666666%;
    height: 100vh;
    float: left;
    display: block;
    position: fixed;
    top: 0px;

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }
  .right-side{
    padding-top: 190px;
    width: 83.33333333%;
    float: right;
    display: block;
    position: relative;
    background-color: #fff;
    transition: width 0.5s;
    min-height: 100vh;
    z-index: 9999;

    .navbar-brand{
      display: none;
    }

    @media (max-width: $screen-sm-max) {
      width: 100%;
      padding-top: 150px;

      .navbar-brand{
        display: block;
      }
    }

    &.active{
      width: 99%;

      .navbar{
        width: 99; // This is almost like `noop` to get the css working
      }
    }
  }
}

.form-control:focus{
  box-shadow: none;
  -webkit-box-shadow: none;
}

.opening{
  background-color: rgba(#C4BEB0, 0.25);
}


.font-sizes{
  background-color: $brand-primary;
  border-radius: 6px;
  li{

    &:hover{
      cursor: pointer;
      background-color: darken($brand-primary, 5%)
    }
  }
}

.popover{
  max-width: 600px;
  width: auto;
  min-width: 100px;
}

li em{
  word-break: break-all;
}
.loading{
  img{
    width: 100px;
    padding-top: 100px;
  }
  h3{
    margin: 0px;
    padding-bottom: 50%;
    font-weight: 300;
  }
}
.form-success-message{
  padding: 5% 0%;
}

.about-text{
  padding-top: 5%;
  padding-bottom: 5%;
  h3{
    font-size: 130%;
  }
  .row{
    padding-top: 1%;
    padding-bottom: 1%;
    h3{
      color: $light-green;
      @extend .montserrat;
    }
    h4{
      font-weight: 300;
      line-height: 150%;
    }
  }
  .credits{
    h3{
      color: $text-color;
    }
    h4{
      @extend .source-sans;

    }
  }
}

.pointer{
  cursor: pointer;
}
.no-outline{
  outline: none !important;

  &:hover, &:focus{
    outline: none !important;
  }
}
.text-color{
  color: $text-color;
}

.ss-icon.text-align{
  vertical-align: middle;
  margin-right: 5px;
}

.dropdown{
  .btn-link:hover, .btn-link:focus{
    text-decoration: none;
  }

  &.open{
    .btn-link{
      color: $cream;
    }
  }
}
