//@import 'bootstrap';
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'mixins/center';
@import 'components/SurahNav';
@import 'components/MasterHeader';
@import 'components/Audioplayer';
@import 'components/ContentDropdown';
@import 'components/ReciterDropdown';
@import 'components/Ayah';
@import 'fonts/fonts';

@import 'partials/navbar-brand';
@import 'partials/search-input';
@import 'partials/surah-title';
@import 'partials/dropdown';
@import 'partials/index-surah-list';
@import 'partials/index-header';
@import 'partials/modal';
@import 'partials/tooltip';
@import 'partials/highlight';


html,body{
  height: 100%;
  min-height: 100%;
}
a:hover{
  text-decoration: none;
}

.surah-body{
  padding-top: 190px;
}

body::-webkit-scrollbar{
  display: none;
  width: 6px;
  background-color: $brand-primary;
}

.form-control:focus{
  box-shadow: none;
  -webkit-box-shadow: none;
}

.opening{
  background-color: rgba(#C4BEB0, 0.25);
}


.font-sizes{
  background-color: $brand-primary;
  border-radius: 6px;
  li{

    &:hover{
      cursor: pointer;
      background-color: darken($brand-primary, 5%)
    }
  }
}

.popover{
  max-width: 600px;
  width: auto;
  min-width: 100px;
}
footer{
  background-color: rgba(#C4BEB0, 0.25);
  padding: 3% 0%;
  ul{
    padding-left: 0px;
    li{
      list-style: none;
      padding: 3% 0%;
    }
  }
}
li em{
  word-break: break-all;
}
.loading{
  img{
    width: 150px;
    padding-top: 150px;
  }
  h3{
    margin: 0px;
  }
}
.form-success-message{
  padding: 5% 0%;
}
