.night-mode{
  background: #1d1f21;
  color: #fff;

  .ayah-name-svg path{
    fill: #fff;
  }

  #bismillah, .text-arabic b{
    color: #fff;
  }

  .highlight, .sidebar{
    background-color: #2d2d2d;
  }

  .chapter-info, .tooltip, .dropdown-menu, .popover-content{
    color: #000;
  }

  .ss-lightbulb{
    color: yellow;
  }

  .modal-content{
    background: #2d2d2d;
  }
}
