.night-mode {
  background: #1d1f21 !important;
  color: #fff;

  nav {
    background: #32312C;
    ul li a {
      color: #fff;
    }
  }
  .ayah-name-svg path {
    fill: #fff;
  }

  #bismillah,
  .text-arabic b {
    color: #fff;
  }

  .highlight,
  .sidebar,
  .dropdown-menu
  {
    background-color: #2d2d2d;
  }

  .chapter-info,
  .tooltip,
  .dropdown-menu,
  .popover-content {
    color: #000;
  }

  .ss-lightbulb {
    color: yellow;
  }

  .modal-content {
    background: #2d2d2d;
  }
}
