// The proportion between what the design had and I did
$proportion-factor: 0.5;

// Colors
$brand-primary: #2CA4AB;
$brand-primary-darker-5: darken($brand-primary, 5%);
$brand-primary-darker-10: darken($brand-primary, 10%);
$brand-primary-darker-15: darken($brand-primary, 15%);
$brand-primary-darker-35: darken($brand-primary, 35%);
$light-green: $brand-primary;

$beige: #F1ECD8;
$cream: #c4bda1;
$olive: #635e49;


$peach: #e29467;

$brand-info: #c4beb0;

// Tooltip bootstrap changes
$tooltip-color: #fff;
$tooltip-bg: $brand-primary;
$tooltip-opacity: 1;
$tooltip-max-width: 400px;

$text-muted: #d1d0d0;
$text-color: #939598;

$navbar-height: 50px;
$navbar-margin-bottom: 0px;
$navbar-default-bg: #fff;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-color: $brand-primary;
$navbar-default-border: rgba(0,0,0,0.12);

$navbar-inverse-bg: $brand-primary;
$navbar-inverse-link-color: #fff;
$navbar-inverse-link-active-bg: transparent;
$navbar-inverse-border: transparent;

$navbar-collapse-width: 1000px;
$navbar-scroll-up-height: 90px;

// $dropdown-bg: darken($olive, 5%);
$dropdown-link-color: $text-color;

$input-border-focus: $light-green;

$label-default-bg: lighten($text-muted, 13%);

$grid-columns: 12;
$border-radius-base: 4px;

$track-tracker-border-radius: 10px;
$track-bg: $brand-primary;
$tracker-width: 4px;
$tracker-height: 4px;
$tracker-height-hundred-boolean: false;
@if $tracker-height-hundred-boolean {$tracker-height: 100%;}

$font-family-sans-serif: 'Montserrat', sans-serif;
$font-montserrat: $font-family-sans-serif;
$icon-font-path: "bootstrap-sass/assets/fonts";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
