@mixin center-align($letter) {
  @if $letter == v {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  } @else if $letter == h {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  } @else if $letter == vh {
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    position: relative;
  }
}