@import "../../theme/variables.scss";

:local .title{
  padding: 50px 0px;
  font-size: 14px;
  margin: 0px;
}

.last-visit{
  padding-top: 50px;

  .title{
    padding: 25px 0px;
  }
}

:local(.surahsList){
  list-style: none;
}

.link{
  &:hover{
    background: #f1f1f1;
  }

  a{
    display: block;
    height: 65px;
    padding: 15px 10px;
    color: $brand-primary;
  }
  .index{
    opacity: 0.5;
  }
  .english{
    font-size: 10px;
  }
  .arabic{
    font-size: 14px;
  }
}
