@import '../../styles/variables.scss';

.list {
  .title {
    padding: 20px 0;
    font-size: 14px;
    margin-top: 20px;

    span {
      margin: 0;
      line-height: 2;
      a {
        padding: 0 15px;
      }
    }

    &:last-child {
      margin-top: 25px;
      border-bottom: solid 2px rgba(0,0,0,.05)
    }
  }
  .items {
    span {
      &:after {
        content: '|';
      }
      &:first-child, &:last-child {
        &:after {
          content: none;
        }
      }
    }
  }
}
