@import '../../styles/variables.scss';
.header {
  background-color: #e7e6e6;
  min-height: 50px;
  padding: 15px 0;
  color: #414141;
  font-weight: 400;
  .colored {
    color: $brand-primary;
  }
  :global(.pagination) {
    margin: 0;
    & > li:first-child > a,
    & > li:last-child > a {
      font-size: 14px;
      &.disabled {
        opacity: 0.5;
      }
    }
    & > li {
      &.active {
        a {
          color: $brand-primary;
        }
      }
      &.disabled {
        opacity: 0.5;
      }
    }
    & > li > a {
      background: transparent;
      border: none;
      color: #414141;
      float: initial;
      padding: 6px 18px;
      font-weight: 300;
      font-size: 14px;
      &:hover,
      &:focus {
        background: initial;
      }
      i {
        font-size: 12px;
      }
    }
    :global(.selected a) {
      color: $brand-primary;
    }
    @media (max-width: $screen-sm-max) {
      padding-top: 5px;
    }
  }
}
