@import '../../styles/variables.scss';

.list{
  display: table;
  width: 100%;
  padding: 15px 0;
}

.item{
  list-style-type: none;
  display: table-cell;
  width: 33%;
}

.link{
  position: relative;
  display: block;
  cursor: pointer;
  color: #777;
}
