@import '../../../styles/variables.scss';

.container{
  margin: 0px;
  width: 100%;
  margin-left: 15px;
  display: inline-block;
}
.verticalAlign{
  vertical-align: middle;
}
.ornament{
  height: $navbar-height;
  opacity: 0.15;
}
