.footer{
  background-color: #32312C;
  padding: 3% 0%;
  font-size: 14px;
  margin-top: 50px;

  .about,
  .links{
    padding-top: 30px;

    .list{
      padding-left: 0px;
      :global(li){
        list-style: none;
        padding: 3% 0%;
      }
    }
  }

  .about{
    a{
      color: #fff;
    }
  }

  .links{
    text-transform: uppercase;
    a{
      color: rgba(#fff, 0.5);
    }
  }
}

.seo{
  padding-top: 15px;
  :global(li){
    &:first-child{
      border: none;
    }

    border-left: 1px solid rgba(#fff, 0.5);
  }
  :global(a){
    color: rgba(#fff, 0.5);;
    white-space: pre;
  }
}
