@import '../../../styles/variables.scss';

:local .popover{
  :global(.popover-title){
    font-family: $font-montserrat;
    text-transform: uppercase;
    color: $cream;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.75em;
  }

  :global(.popover-content){
    :global(a){
      font-size: 0.8em;
    }
  }
}
