@import '../../styles/_bootstrap-config.scss';
$old-color: #8ce196;
$color: $brand-primary;
$height: 25px;
$width: 50px;

.switch{
  display: inline-block;
  vertical-align: middle;
}

.toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.toggle + .label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.toggleRound + .label {
  padding: 2px;
  width: $width;
  height: $height;
  background-color: #dddddd;
  border-radius: $height;
}

.toggleRound + .label:before,
.toggleRound + .label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

.toggleRound + .label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: $height;
  transition: background 0.4s;
}

.toggleRound + .label:after {
  width: $height - 2;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}

.toggleRound:checked + .label:before {
  background-color: $color;
}

.toggleRound:checked + .label:after {
  margin-left: $width / 2;
}

.toggleFlat + .label {
  padding: 2px;
  width: $width;
  height: $height;
  background-color: #dddddd;
  border-radius: $height;
  transition: background 0.4s;
}
.toggleFlat + .label:before,
.toggleFlat + .label:after {
  display: block;
  position: absolute;
  content: "";
}
.toggleFlat + .label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: $height;
  transition: background 0.4s;
}
.toggleFlat + .label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: $height - 8;
  background-color: #dddddd;
  border-radius: $height - 8;
  transition: margin 0.4s, background 0.4s;
}
.toggleFlat:checked + .label {
  background-color: $color;
}
.toggleFlat:checked + .label:after {
  margin-left: $width / 2;
  background-color: $color;
}
