@import '../../styles/variables.scss';
.container {
  position: fixed;
  bottom: 15px;
  display: block;
  user-select: none;
  height: auto;
  z-index: 1;
  padding: 10px 20px 5px;
  background: #fff;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  min-width: 340px;
  @media (max-width: $screen-sm) {
    bottom: 0;
    width: 100%;
  } // border: 0.08333rem solid transparent !important;
}

.buttons {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  padding: 0 10px;
  color: $text-color;
  outline: none;
  &:focus,
  &:active {
    outline: none;
  }
  &.playingButton {
    background: $brand-primary;
    color: #fff;
    height: 32px;
    width: 32px;
    padding: 8px;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    &:hover {
      opacity: 0.75;
    }
  }
  i.fa {
    color: inherit;
    font-size: 100%;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  pointer-events: none;
}

.popover {
  :global(.popover-title) {
    font-family: $font-montserrat;
    text-transform: uppercase;
    color: $cream;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.75em;
  }
  :global(.popover-content) {
    :global(a) {
      font-size: 0.8em;
    }
  }
  .pill {
    :global(a) {
      padding: 10px 15px;
    }
  }
}
