@import '../../styles/variables.scss';

.container{
  position: fixed;
  bottom: 15px;
  display: block;
  user-select: none;
  height: auto;
  padding: 10px 20px 5px;
  background: #fff;
  box-shadow: 0 0 0.5rem 0 rgba(0,0,0,.2);
  min-width: 340px;
  @media(max-width: $screen-sm){
    bottom: 0px;
    width: 100%;
  }
  // border: 0.08333rem solid transparent !important;
}

.wrapper{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  height: 10%;
}

.options{
  border-radius: 4px;
  width: 100%;
  display: inline-block;
  margin: 0px;
  height: 90%;
  text-align: center;
}

.controls{
  margin: 0px;
  .controlItem{
    vertical-align: middle;
    padding-right: 20px;
    color: #939598;
  }
}

.list{
  margin-bottom: 0px;
  display: table;
  width: 100%;
  padding-left: 0px;
  text-align: center;

  :global(li){
    padding-right: 15px;
    display: table-cell;
  }
}

.buttons{
  width: 100%;
  display: inline-block;
  cursor: pointer;
  padding-right: 1.5%;
  color: $text-color;
  outline: none;

  &.playingButton{
    background: $brand-primary;
    color: #fff;
    height: 32px;
    width: 32px;
    padding: 8px;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;

    &:hover{
      opacity: 0.75;
    }
  }

  i.fa{
    color: inherit;
    font-size: 100%;
  }
}

.checkbox{
  display: none;
}
.repeat{
  color: $brand-primary;
}
.scroll{
  color: $brand-primary;
}

.disabled{
  opacity: 0.5;
  cursor: not-allowed !important;
  pointer-events: none;
}

.verse{
  padding: 0px;
  color: $olive;
}

.popover{
  :global(.popover-title){
    font-family: $font-montserrat;
    text-transform: uppercase;
    color: $cream;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.75em;
  }

  :global(.popover-content){
    :global(a){
      font-size: 0.8em;
    }
  }
  .pill{
    :global(a){
      padding: 10px 15px;
    }
  }
}
