@import '../../styles/variables.scss';

:local .container{
  position:relative;
  display: block;
  user-select: none;
  height: 40px;
  padding: 10px 20px;
}

:local .wrapper{
  width: 100%;
  position: absolute;
  top: 90%;
  left: 0px;
  height: 10%;
}

:local .options{
  border-radius: 4px;
  width: 100%;
  display: inline-block;
  margin: 0px;
  height: 90%;
  text-align: center;
}

.list{
  margin-bottom: 0px;
  display: table;
  width: 100%;
  padding-left: 0px;
  text-align: center;

  :global(li){
    padding-left: 15px;
    padding-right: 15px;
    display: table-cell;
  }
}

.buttons{
  width: 100%;
  display: inline-block;
  cursor: pointer;
  padding-right: 1.5%;
  color: $olive;
  outline: none;

  &.playing{
    color: $brand-primary;
  }
  i.fa{
    color: inherit;
    font-size: 100%;
  }
}

.checkbox{
  display: none;
}
.repeat{
  color: $brand-primary;
}
.scroll{
  color: $brand-primary;
}

:local .disabled{
  opacity: 0.5;
  cursor: not-allowed !important;
}

.verse{
  padding: 0px;
  color: $olive;
}
